@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

:root {
  --font-Antonio: "Antonio", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
}

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("../public/fonts/HelveticaNeueMedium.otf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue Black";
  src: url("../public/fonts/HelveticaNeueBlack.otf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue Heavy";
  src: url("../public/fonts/HelveticaNeueHeavy.otf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../public/fonts/HelveticaNeueLight.otf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../public/fonts/HelveticaNeueLight.otf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue Thin";
  src: url("../public/fonts/HelveticaNeueThin.otf") format("truetype");
}

.font-Antonio {
  font-family: var(--font-Antonio);
}
.font-Poppins {
  font-family: var(--font-Poppins);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-HelveticaNeueMedium {
  font-family: "Helvetica Neue Medium";
}
.font-HelveticaNeueBlack {
  font-family: "Helvetica Neue Black";
}
.font-HelveticaNeueHeavy {
  font-family: "Helvetica Neue Heavy";
}
.font-HelveticaNeueLight {
  font-family: "Helvetica Neue Light";
}
.font-HelveticaNeueThin {
  font-family: "Helvetica Neue Thin";
}

.h1-color {
  color: #523122;
}
.h1-2color {
  color: #fce1cd;
}
.h1-bg-color {
  background-color: #a16833;
}
